* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainDiv {
  background-image: url("../../../generalImages/image1.jpg");
  background-color: black;
  padding: 5em 10em;
}

.headerDiv {
  border-width: width 22px;
  border-color: border-color white;
  width: 50%;
  color: white;
}

body {
  background-color: #3d383b;
  margin: 0;
}

body #humanSelection, body #cpu-selection {
  font-family: font-family "Merienda", "Impact", "Georgia";
  font-size: 30px;
  color: azure;
}

body #round-result {
  color: white;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons .rpsBtn {
  background-color: background-color rgba(0, 0, 0, 0);
  padding: 0, 10%;
  margin: 0, auto;
  color: black;
}

.buttons #rock, .buttons #paper, .buttons #scissor {
  border-width: 10px;
  border-color: black;
  border-style: outset;
  width: 300px;
  height: 200px;
  font-family: 'Merienda', 'Impact', 'Georgia';
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons #rock #rock p, .buttons #paper #rock p, .buttons #scissor #rock p, .buttons #rock #paper p, .buttons #paper #paper p, .buttons #scissor #paper p, .buttons #rock #scissor p, .buttons #paper #scissor p, .buttons #scissor #scissor p, .buttons #rock #rock body #pDiv, body .buttons #rock #rock #pDiv, .buttons #paper #rock body #pDiv, body .buttons #paper #rock #pDiv, .buttons #scissor #rock body #pDiv, body .buttons #scissor #rock #pDiv, .buttons #rock #paper body #pDiv, body .buttons #rock #paper #pDiv, .buttons #paper #paper body #pDiv, body .buttons #paper #paper #pDiv, .buttons #scissor #paper body #pDiv, body .buttons #scissor #paper #pDiv, .buttons #rock #scissor body #pDiv, body .buttons #rock #scissor #pDiv, .buttons #paper #scissor body #pDiv, body .buttons #paper #scissor #pDiv, .buttons #scissor #scissor body #pDiv, body .buttons #scissor #scissor #pDiv {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons #rock #rockImg, .buttons #paper #rockImg, .buttons #scissor #rockImg {
  margin: auto;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#button, #playAgain, #nextRound {
  background-color: #2f1717;
  width: 100px;
  height: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1F2937;
  color: white;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
}

footer p, footer body #pDiv, body footer #pDiv {
  margin: auto;
}
/*# sourceMappingURL=main.css.map */