* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mainDiv:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(81, 81, 81, 0.164);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.mainDiv {
  background-image: url("../../../generalImages/image4.jpg");
  background-color: black;
  padding: 0em 10em 5em 10em;
  background-position: center;
  background-size: cover;
  position: relative;
}

.mainDiv > * {
  z-index: 10;
  position: relative;
}

.headerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2em;
  color: #4c4843;
}

.headerDiv h1, .headerDiv h2 {
  border-width: width 22px;
  border-color: black;
}

.headerDiv h1 {
  font-size: 55px;
  margin-top: 0;
}

.headerDiv h2 {
  font-size: 35px;
  margin-top: 0;
}

.headerDiv h3 {
  margin-top: 0;
  font-size: 30px;
}

.cumulScoreBox {
  position: absolute;
  float: left;
  margin: 0;
  top: 2em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-size: 22px;
}

body {
  margin: 0;
}

body #yrSel {
  font-family: font-family "Merienda", "Impact", "Georgia";
  font-size: 18px;
  color: azure;
}

body #humanSelection, body #cpu-selection {
  font-family: font-family "Merienda", "Impact", "Georgia";
  font-size: 30px;
  color: azure;
}

body #round-result {
  color: white;
}

.buttonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  margin-top: 3rem;
}

#rock, #paper, #scissor {
  background-color: transparent;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  width: 400px;
  height: 350px;
  border-width: 10px;
  border-color: rgba(76, 72, 67, 0.445);
  border-style: outset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 14px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 10px 14px 14px rgba(0, 0, 0, 0.6);
}

/*#rock p, #paper p, #scissor p {
        opacity: 0;
        width: 4.5em;
        border: 2px thin black;
        background-color: rgba(222, 151, 80, 0.604);
        box-shadow: 2px 2px 5px 5px black;
        padding: 0;
        margin: 0, auto;
        color: rgb(76, 72, 67);
        font-family: 'Merienda', 'Impact', 'Georgia';
        font-size: 45px;  
        font-weight: bolder; 
    }*/
#rockImg, #paperImg, #scissorImg {
  margin: auto;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

#paperImg, #scissorImg {
  height: auto;
}

#scissorImg {
  height: 50%;
  width: 50%;
}

#rock:hover, #paper:hover, #scissor:hover {
  /*#rock p, #paper p, #scissor p {
            transition-duration: 500ms;
            opacity: 1;
        }*/
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
  border-width: 19px;
  border-color: rgba(76, 72, 67, 0.954);
  border-style: double;
}

#rock:hover #rockImg, #rock:hover #paperImg, #rock:hover #scissorImg, #rock:hover #paperImg, #rock:hover #scissorImg, #rock:hover #scissorImg, #paper:hover #rockImg, #paper:hover #paperImg, #paper:hover #scissorImg, #paper:hover #paperImg, #paper:hover #scissorImg, #paper:hover #scissorImg, #scissor:hover #rockImg, #scissor:hover #paperImg, #scissor:hover #scissorImg, #scissor:hover #paperImg, #scissor:hover #scissorImg, #scissor:hover #scissorImg {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  opacity: 1;
}

#button, #playAgain, #nextRound {
  background-color: #2f1717;
  width: 100px;
  height: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1F2937;
  color: white;
  height: 100px;
  font-size: 16px;
  font-weight: bold;
}

footer p, footer body #pDiv, body footer #pDiv {
  margin: auto;
}
/*# sourceMappingURL=main.css.map */