* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

#contactBar {
  list-style: none;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  text-align: right;
  padding-top: 7px;
}

#contactBar li {
  display: inline-block;
  margin: 0 10px;
}

#contactBar #liP {
  position: relative;
  top: -1rem;
  font-family: font-family "Merienda", "Impact", "Georgia";
}

.mainDiv:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(81, 81, 81, 0.164);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.mainDiv {
  background-image: url("../images/image4.jpg");
  background-color: black;
  padding: 0em 10em 0em 10em;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.mainDiv > * {
  z-index: 10;
  position: relative;
}

header {
  margin: 0 20% 0 20%;
}

.headerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2em;
  color: #4c4843;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.headerDiv h1, .headerDiv h2 {
  border-width: width 22px;
  border-color: black;
}

.headerDiv h1 {
  font-size: 55px;
  margin-top: 0;
}

.headerDiv h2 {
  font-size: 35px;
  margin-top: 0;
}

.headerDiv h3 {
  margin-top: 0;
  font-size: 30px;
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
  to {
    opacity: 0.5;
  }
  to {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.25;
  }
  to {
    opacity: 0.5;
  }
  to {
    opacity: 0.75;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 1;
}

.cumulScoreBox {
  position: absolute;
  top: 2rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  color: antiquewhite;
}

.cumulScoreBox h4 {
  color: antiquewhite;
}

#cumulScoreHum, #cumulScoreCPU {
  text-shadow: 4px 2px rebeccapurple;
}

.buttonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  margin-top: 3rem;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

/*.buttonsDiv.active {
    animation: fadeOut 7s;
}*/
.rock, .paper, .scissor {
  background-color: transparent;
  width: 400px;
  height: 350px;
  border-width: 10px;
  border-color: rgba(76, 72, 67, 0.445);
  border-style: outset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 14px 14px rgba(0, 0, 0, 0.6);
          box-shadow: 10px 14px 14px rgba(0, 0, 0, 0.6);
  z-index: 7;
}

.rockImg, .paperImg, .scissorImg {
  margin: auto;
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.paperImg, .scissorImg {
  height: auto;
}

.scissorImg {
  height: 50%;
  width: 50%;
}

.rock:hover, .paper:hover, .scissor:hover {
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
  border-width: 19px;
  border-color: rgba(76, 72, 67, 0.954);
  border-style: double;
}

.rock:hover .rockImg, .rock:hover .paperImg, .rock:hover .scissorImg, .rock:hover .paperImg, .rock:hover .scissorImg, .rock:hover .scissorImg, .paper:hover .rockImg, .paper:hover .paperImg, .paper:hover .scissorImg, .paper:hover .paperImg, .paper:hover .scissorImg, .paper:hover .scissorImg, .scissor:hover .rockImg, .scissor:hover .paperImg, .scissor:hover .scissorImg, .scissor:hover .paperImg, .scissor:hover .scissorImg, .scissor:hover .scissorImg {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  opacity: 1;
}

#resultDivBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  color: antiquewhite;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
}

#resultDivBox #round-result {
  text-shadow: 2px 2px rebeccapurple;
}

#resultDivBox #endSeriesPl, #resultDivBox #endSeriesCpu {
  text-shadow: 4px 2px rebeccapurple;
}

/*#endSeriesText {
    width: fit-content;
    height: 50px;
    margin: 0 auto;
}
*/
#textAndButtons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

#textAndButtons #humAndCpuSelBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-width: 75%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding-top: 4rem;
  font-family: font-family "Merienda", "Impact", "Georgia";
  color: antiquewhite;
}

#humAndCpuSelBox {
  position: relative;
  bottom: -5vh;
}


#textAndButtons #yrSel, #textAndButtons #pDiv {
  font-size: 25px;
  color: #4c4843;
  font-weight: 600;
}

#textAndButtons #humanSelection, #textAndButtons #cpu-selection {
  font-size: 40px;
  text-shadow: 2px 2px rebeccapurple;
}

.smallBtnsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

#resultButton, #playAgain, #nextRound {
  background-color: rgba(0, 0, 0, 0.05);
  width: 19rem;
  font-size: 23px;
  padding: 8px;
  height: 100px;
  font-family: font-family "Merienda", "Impact", "Georgia";
  font-weight: 590;
  color: #4c4843;
  text-shadow: 1px 1px black;
  -webkit-box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 7px 7px rgba(0, 0, 0, 0.6);
  border-color: rgba(248, 241, 231, 0.316);
  border-width: 4px;
}

#resultButton:hover, #playAgain:hover, #nextRound:hover {
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
  border-color: rgba(53, 53, 52, 0.749);
  border-width: 8px;
  font-size: 27px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1F2937;
  color: white;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

footer p {
  margin: auto;
}
/*# sourceMappingURL=main2.css.map */