$primaryColor: rgb(61, 56, 59);

$primaryColorBtn: rgb(77, 77, 77);

$secondaryColorBtn: rgb(47, 23, 23);

$headerColor: rgb(255, 255, 255);


$smallFontFam: font-family ("Merienda", "Impact", "Georgia");

$smallFontWeight: font-weight (555);

$rpsButtons: width 20px;

$boxBorderWidth: width 22px; 
$boxBorderColor: border-color white;
$boxBackgroundColor: background-color rgba(0, 0, 0, 0.0);

$smallFontSize: font-size 24px;

$smallTextColor: rgb(255, 218, 218);

* {
    box-sizing: border-box;
}

.mainDiv:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 81, 81, 0.164);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.mainDiv{
    background-image: url("../../../generalImages/image1.jpg");
    background-color: black;
    padding: 5em 10em;
    background-position:center;
    position: relative;
    }

.mainDiv > * {
    z-index: 10;
    position: relative;
}



.headerDiv {
    border-width: $boxBorderWidth;
    border-color: $boxBorderColor;
    width: 50%;
    color: $headerColor;
}

body{
    margin:0;

    #humanSelection{
        font-family: $smallFontFam;
        font-size: 30px;
        color:azure
    }
    #pDiv{
        @extend p;
    }
    #cpu-selection{
        @extend #humanSelection;
    }
    #round-result{
        color: $headerColor;
    }
   
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    outline: none;
 //   
}
        
        #rock{
        background-color: transparent;
        
        width: 400px;    
        height: 350px;
        border-width: 10px;
        border-color: black;
        border-style:outset;
             
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        box-shadow: 10px 14px 14px  rgba(0, 0, 0, 0.6);
        }

        #rock p {
            border: 5px solid black;
            background-color: rgba(0, 0, 0, 0.472);
            padding: 0;
            margin: 0, auto;
            color: antiquewhite;
            font-family: 'Merienda', 'Impact', 'Georgia';
            font-size: 45px;  
            font-weight: bolder; 
        }

        /*.buttonPBorder {
            background-color: ;
            margin-top: 7%;
            height:auto;
            width: auto;
            //outline: 5px;
            border-color: pink;
        }*/

        #rockImg{
            margin: auto;
            width: 40%;
            justify-content:center;
            align-items: center;
        }
        
        #paper{
            @extend #rock;
        }
        #paperImg{
            @extend #rockImg;
            height: auto;
        }
        
        #scissor{
            @extend #rock;
        }
        #scissorImg{
            @extend #paperImg;
            height: 80%;
            width: 50%; 
        }


#button{
    background-color: $secondaryColorBtn;
    width: 100px;
    height: 30px;
}
#playAgain{
    @extend #button;
}


#nextRound{
    @extend #button;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
}

footer p {
margin: auto;
}