$primaryColor: rgb(61, 56, 59);

$primaryColorBtn: rgb(77, 77, 77);

$secondaryColorBtn: rgb(47, 23, 23);

$headerColor: rgb(255, 255, 255);


$smallFontFam: font-family ("Merienda", "Impact", "Georgia");

$smallFontWeight: font-weight (555);

$rpsButtons: width 20px;

$boxBorderWidth: width 22px; 
$boxBorderColor: border-color white;
$boxBackgroundColor: background-color rgba(0, 0, 0, 0.0);

$smallFontSize: font-size 24px;

$smallTextColor: rgb(255, 218, 218);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mainDiv:after{
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(81, 81, 81, 0.164);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.mainDiv{
    background-image: url("../../../generalImages/image4.jpg");
    background-color: black;
    padding: 0em 10em 2.65em 10em;
    background-position:center;
    background-size: cover;
    position: relative;
    }

.mainDiv > * {
    z-index: 10;
    position: relative;
}

.headerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2em;
    color: rgb(76, 72, 67);
}

.headerDiv h1, .headerDiv h2 {
    border-width: $boxBorderWidth;
    border-color: black;
    
}

.headerDiv h1{
    font-size: 55px;
    margin-top: 0;
}

.headerDiv h2{
    font-size: 35px;
    margin-top: 0;
    //margin-bottom: 45px;
}

.headerDiv h3 {
    margin-top: 0;
    font-size: 30px;
}

.cumulScoreBox {
    position: absolute;
    float: left;
    margin: 0;
    top: 2em; 
    max-width: fit-content;
    font-size: 22px;
}

.buttonsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    outline: none;
    margin-top: 3rem;
 //   
}
    
    #rock, #paper, #scissor{
        background-color: transparent;
        transition-duration: 500ms;
        width: 400px;    
        height: 350px;
        border-width: 10px;
        border-color: rgba(76, 72, 67, 0.445);
        border-style:outset;
             
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        box-shadow: 10px 14px 14px  rgba(0, 0, 0, 0.6);
        }
        
    /*#rock p, #paper p, #scissor p {
        opacity: 0;
        width: 4.5em;
        border: 2px thin black;
        background-color: rgba(222, 151, 80, 0.604);
        box-shadow: 2px 2px 5px 5px black;
        padding: 0;
        margin: 0, auto;
        color: rgb(76, 72, 67);
        font-family: 'Merienda', 'Impact', 'Georgia';
        font-size: 45px;  
        font-weight: bolder; 
    }*/

    #rockImg{
        margin: auto;
        width: 40%;
        justify-content:center;
        align-items: center;
        opacity: 0;
    }

    #paperImg{
        @extend #rockImg;
        height: auto;
    }
       
    #scissorImg{
        @extend #paperImg;
        height: 50%;
        width: 50%; 
    }
    
    #rock:hover, #paper:hover, #scissor:hover {
        /*#rock p, #paper p, #scissor p {
            transition-duration: 500ms;
            opacity: 1;
        }*/
        transition-duration: 650ms;
        border-width: 19px;
        border-color: rgba(76, 72, 67, 0.954);
        border-style:double;

        #rockImg, #paperImg, #scissorImg {
            transition-duration: 500ms;
            opacity: 1;
        }
    }

#textAndButtons {
    position: absolute;
    top: 0;
    margin-bottom: 70%;

    
    #yrSel {
        font-family: $smallFontFam;
        font-size: 18px;
        color:azure;
    }
    #humanSelection{
        font-family: $smallFontFam;
        font-size: 30px;
        color:azure;
    }
 
    #cpu-selection{
        @extend #humanSelection;
    }
    #round-result{
        color: $headerColor;
    }
}

/*    #playAgain{
    @extend #button;
}


#nextRound{
    @extend #button;
}*/


footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
}

footer p {
margin: auto;
}