$primaryColor: rgb(61, 56, 59);

$primaryColorBtn: rgb(77, 77, 77);
$secondaryColorBtn: rgb(47, 23, 23);
$headerColor: rgb(255, 255, 255);
$textColor: rgb(255, 218, 218);

$smallFontFam: font-family ("Merienda", "Impact", "Georgia");
$smallFontWeight: font-weight (555);

$rpsButtons: width 20px;


.mainDiv{
    background-image: url("../../../generalImages/image1.jpg");
    padding: 5em 10em;
    }

body{
    
    background-color: $primaryColor;
    margin:0;
    //opacity: 0.5;
    
    
    
    
    p{
        color: $textColor;
        font-family: $smallFontFam;
        font-size: 24px;        
        font-weight: $smallFontWeight;

    }
    #humanSelection{
        font-family: $smallFontFam;
        font-size: 22px;
        color:azure
    }
    #pDiv{
        @extend p;
    }
    #cpu-selection{
        @extend #humanSelection;
    }
    #round-result{
        color: $headerColor;
    }
   
}

header{
    color: $headerColor
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
        div{
        padding: 0, 10%;
        margin: 0, auto; 
        }
        #rock{
        background-color: $primaryColorBtn;
        color: white;
        width: 300px;    
        height: 200px;
        font-family: 'Merienda', 'Impact', 'Georgia';
        font-size: 30px;
        }
        #paper{
            @extend #rock;
        }
        #scissor{
            @extend #rock;
        }
}

//#resultDiv{
//   display: flex;

//}

#button{
    background-color: $secondaryColorBtn;
    width: 100px;
    height: 30px;
}
#playAgain{
    @extend #button;
}


#nextRound{
    @extend #button;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
}

footer p {
margin: auto;
}